{% extends 'layout/page.html.twig' %}

{% block title %}Cities{% endblock %}

{% block content %}

    <h1>Cities</h1>

    {{ include('partials/search_form.html.twig') }}
    <table>
        <thead>
            <tr>
                {{ include('partials/sortable_table_header.html.twig', {label: 'Name', field: 'name', defaultDir: 'asc'}) }}
                {{ include('partials/sortable_table_header.html.twig', {label: 'Events', field: 'events', defaultDir: 'desc'}) }}
                {% if is_granted('edit', cities) %}
                <th class="actions-column">Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td><a href="{{ path('city_show', {'slug': city.slug}) }}">{{ city.name }}</a></td>
                <td>{{ city.currentAndFutureEvents|length }}</td>
                {% if is_granted('edit', cities) %}
                <td class="actions-column">
                    {% if is_granted('edit', city) %}
                    <a class="button small" href="{{ path('city_edit', {'slug': city.slug}) }}">Edit</a>
                    {% endif %}
                    {% if is_granted('delete', city) %}
                    {{ include('city/_delete_form.html.twig') }}
                    {% endif %}
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ include('partials/pagination.html.twig') }}

    {% if is_granted('create', new_city) %}
        <div id="new-city-form-container" data-toggler=".show-form">
            <a class="button new-city-toggle" data-toggle="new-city-form-container">Add a new city</a>
            <div class="show-form-toggle">
                <h2>New city</h2>
                {{ include('city/_form.html.twig', {'city': new_city}) }}
            </div>
        </div>
    {% endif %}
{% endblock %}
