{% extends 'layout/page.html.twig' %}

{% block title %}City{% endblock %}

{% block content %}
    <h1>City</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ city.name }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ city.active ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ city.createdAt ? city.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ city.updatedAt ? city.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('city_index') }}">back to list</a>

    <a href="{{ path('city_edit', {'slug': city.slug}) }}">edit</a>

    {{ include('city/_delete_form.html.twig') }}
{% endblock %}
