{% extends 'layout/page.html.twig' %}

{% block title %}Profile | {{ user.username }}{% endblock %}

{% block content %}
    <h1>{{ user.username }}</h1>

    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>E-mail</th>
                <th class="actions-column">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td class="actions-column">
                    <a class="button small" href="{{ path('app_logout') }}">Logout</a>
                    <a class="button small" href="{{ path('user_edit') }}">Edit profile</a>
                    {{ include('user/_delete_form.html.twig') }}
                </td>
            </tr>
        </tbody>
    </table>

    <h2>My events</h2>
    {{ include('event/_event_list.html.twig') }}
{% endblock %}
